/* Estilos gerais para o body */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://roche-h.assetsadobe2.com/is/image/content/dam/hcp-portals/spain/images/innovacion/articulos/interior/87.-Chatbots_en_medicina_Header.png?$HCPNext$&wid=960');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


/* Estilo para o cabeçalho */

header {
    background-color: rgba(0, 123, 255, 0.8);
    /* Cor com fundo transparente */
    color: white;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    border-bottom: 4px solid #0056b3;
}


/* Estilo para a navegação */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
    /* Cor dourada ao passar o mouse */
}


/* Estilo do rodapé */

footer {
    background-color: rgba(0, 123, 255, 0.8);
    /* Cor com fundo transparente */
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* Responsividade: Ajustes em telas menores */

@media (max-width: 768px) {
    header {
        font-size: 24px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}